.bg-main-color {
  background-color: #5991DC;
}

.bg-danger-color {
  background-color: #CA5B54;
}

.bg-notif {
  background-color: #55C0DD;
}

.bg-success-color {
  background-color: #73B566;
}

.bg-main-gray {
  background-color: #F4F4F6;
}

.b--main-color {
  border-color: #5991DC;
}

.disabled-btn {
  background-color: #cccccc;
  color: #666666;
}

.main-color {
  color: #5991DC;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.titillium-web {
  font-family: 'Titillium Web', sans-serif;
}

.catamaran {
  font-family: 'Catamaran', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.slabo {
  font-family: 'Slabo 27px', serif;
}

.hover-pointer:hover {
  cursor: pointer;
}

.hover-disabled:hover {
  cursor: not-allowed;
}

.mw2-5 {
  max-width: 3rem;
}

.wb-bw {
  word-break: break-word;
}

.to-ell {
  text-overflow: ellipsis;
}

.bg-bc {
  background-image: url('../assets/bg-bc.jpeg');
  /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%), url('../assets/bg-bc.jpeg'); */
  background-size: cover;
}

@media (max-width: 768px) {
   .hide-small {
      display: none;
   }
}

@media (min-width: 768px) {
   .show-small {
      display: none;
   }
}
